.catalog {

}

.catalog__title {
  padding: 30px 30px 10px 30px;
}

.catalog__product {
  padding: 20px;
  margin: 20px 30px;
  border: 2px solid #eaeaea;
  border-radius: 10px;
}

.catalog__button {
  display: block;
  margin: 20px 30px;
  width: auto;
  text-align: center;
  box-sizing: border-box;
  background-color: #f7fafc;
  color: $grey;
}

@media (min-width: $tablet-width) {
  .catalog__wrapper {
    display: flex;
}
.catalog__button {
text-align: center;
  width: auto;
}
}
