.catalog__title {
  padding: 30px 30px 10px 30px;
}

.catalog__product {
  padding: 20px;
  margin: 20px 30px;
  border: 2px solid #eaeaea;
  border-radius: 10px;
}

.catalog__button {
  display: block;
  margin: 20px 30px;
  width: auto;
  text-align: center;
  box-sizing: border-box;
  background-color: #f7fafc;
  color: $grey;
}

.catalog__discription {
  min-width: 300px;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .catalog__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .catalog__button {
    text-align: center;
    width: auto;
  }

  .catalog__discription {
    width: 360px;
    box-sizing: border-box;
    flex-grow: 2;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    width: 1248px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 170px;
    padding-bottom: 30px;
    background-color: white;
    box-shadow: 0 1px 1px 1px rgba(115, 115, 115, 0.1);
  }

  .catalog__title {
    @include font (1.4rem, 2rem, 400);
    padding: 30px 50px 0 50px;
  }

  .catalog__wrapper {
    margin: 0 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .catalog__button {
    text-align: center;
    width: auto;
  }

  .catalog__discription {
    width: 560px;
    box-sizing: border-box;
    flex-grow: 0;
    box-shadow: 0 3px 20px 4px rgba(115, 115, 115, 0.1);
  }
}
