.main-product {
  background-color: white;
}

.main-product__title {
    @include stylenone();
    @include font (1.4rem, 2rem, 700);
    padding: 30px;
    background-color: $lightblue;
    box-shadow: 0 0 10px 10px rgba(247, 250, 252, 0.7);
}

.main-product__article {
    @include stylenone();
    @include font (0.6rem, 1.5rem, 400);
    padding-left: 20px;
}

.main-product__img-wrapper {
  background-color: white;
  display: flex;
  margin: 10px auto;
  flex-direction: column;
  box-shadow: 0 0 20px 40px rgba(255, 255, 255, 0.7);
}

.main-product__img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.main-product__galary {
  padding: 30px;
}

.main-product__wrapper {
  padding: 0 30px;
}

.main-product__form {
  display: flex;
  flex-direction: column;
}

.main-product__text {
  @include stylenone();
  @include font (0.9rem, 1.4rem, 400);
}

.main-product__link {
  padding: 0 30px;
}

@media (min-width: $tablet-width) {
  .main-product__flex-conteiner {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    background-color: white;
    align-items: center;
    padding: 0 50px;
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.7);
  }

  .main-product__contenier {
    width: 270px;
    padding-left: 30px;
  }

  .main-product__wrapper {
    width: 280px;
    box-sizing: border-box;
    padding: 0;
    padding-left: 10px;
  }

  .main-product__flex-desktop {
    flex-grow: 4;
    box-sizing: border-box;
  }

  .main-product__img-wrapper {
    box-shadow: none;
    width: auto;
    margin: 0;
    margin-top: 20px;
  }

  .main-product__img {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-product {
    width: 1248px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 240px;
    box-shadow: 0 1px 1px 1px rgba(115, 115, 115, 0.1);
  }

  .main-product__title {
    @include font (1.7rem, 2.2rem, 400);
    padding-left: 520px;
    padding-top: 50px;
    background-color: white;
    box-shadow: none;
    border: none;
  }

  .main-product__article {
    @include font (1rem, 1.5rem, 400);
  }

  .main-product__flex-conteiner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    padding: 0 30px;
    padding-left: 520px;
    box-shadow: none;
    padding-bottom: 100px;
    margin-bottom: 40px;
  }

  .main-product__contenier {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/loupe.svg");
      padding: 10px;
      background-position: center;
      box-shadow: 0 1px 2px 2px rgba(115, 115, 115, 0.3);
      border-radius: 25px;
      background-repeat: no-repeat;
      width: 24px;
      height: 24px;
      transform: scale(1.2);
      opacity: 0.8;
      right: -150px;
      bottom: 105px;
    }
  }

  .main-product__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
    padding: 0;
  }

  .main-product__flex-desktop {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
  }

  .main-product__wrapper2 {
    margin-top: 0;
    margin-right: 0;
    margin-left: 30px;
  }

  .main-product__img {
    width: 480px;
    height: 335px;
    margin-bottom: 70px;
  }

  .main-product__link {
    padding-left: 60px;
  }

  .main-product__text {
    @include stylenone();
    @include font (0.9rem, 1.4rem, 400);
    padding-bottom: 8px;
  }
}
