@font-face {
  font-family: "GraphikLCG";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/GraphikLCG-Regular.otf");
}

@font-face {
  font-family: "GraphikLCG";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/GraphikLCG-Medium.otf");
}

@font-face {
  font-family: "GraphikLCG";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/GraphikLCG-Bold.otf");
}

html {
  @include font (16px, 32px, 400);
}

body {
  min-width: 375px;
  box-sizing: border-box;
  background: #ffffff;
  font-family: "GraphikLCG", "Arial", sans-serif;
  margin: 0;
  color: #373737;
}

.wrapper {
  background-color: white;
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

@media (min-width: $desktop-width) {
  .wrapper {
    background-color: $lightblue;
  }

  .container {
    max-width: 1264px;
  }
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
